.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  width: 120rem;
  height: 78.75rem;
  background-color: #121214;
}

.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 120rem;
  height: 17.6875rem;
  align-items: center;
  justify-items: center;
  padding: 4rem 0;
  gap: 3rem;
  border-bottom: 2px solid;
  border-color: #17171A;
  background-color: #17171A;
  color: #E07B67;
  font-family: spaceGrotesk;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.125rem;
}

.header span{
  color: #FFFFFF;
}

.header input {
  width:76rem;
  height: 3.5rem;
  border: 2px solid;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  gap: 1rem;
  color: #FFFFFF;
  background-color: #202024;
  border-color: #252529;
  font-family: inter;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.main {
  display:flex;
  flex-direction: column;
  width: 76rem;
  height: 60.5625rem;
  padding:5rem 0;
  gap: 2.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: 76rem;
  height: 15.1875rem;
  border: 2px solid;
  border-radius: 8px;
  padding: 2.5rem;
  gap: 1.25rem;
  background-color: #17171A;
  border-color: #252529;
}

.box:hover {
  border-color: #E07B67; 
}

.date {
  display: flex;
  width: 71rem;
  height: 2rem;
  gap: 61.25rem;
  font-family: inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.21rem;
  color: #E07B67; 
}

.content{
  display: flex;
  flex-direction: column;
  width: 71rem;
  height: 6.9375rem;
  gap: 1rem;
}

.title{
  width: 71rem;
  height: 1.9375rem;
  font-family: space-grotesk;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.subtitle {
  width: 71rem;
  height: 4rem;
  font-family: inter;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #AFABB6;
}